/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.todo {
  background-image: url('./assets/bg-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: black;
    opacity: 0.8;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.z-index-1 {
  z-index: 1;
}


.todoInput {
  padding: 20px 60px;
  box-shadow                       : none;
  border-radius: 50px 0px 0px 50px;
  border                           : 1px solid #0d6efd;
  box-shadow                       : 2px 4px 6px rgba(0, 0, 0, 0.19);
}

.todobtn {
  padding: 10px 60px;
  border-radius: 0px 50px 50px 0px;
}